In [1]:
import pandas as pd

In [19]:
s = pd.Series( ["Blue","Red","grey"])
s1 = pd.Series([1, 2, 3, 4, 5])

In [4]:
car_name = pd.Series([ "BMW", "AMBASTER", "SUZUKI"])

In [6]:
dataframe = pd.DataFrame({"Car Name" : car_name, "color" : s})

In [13]:
data = pd.read_csv(r"C:\Users\MD\Downloads\[FreeCourseSite.com] Udemy - Complete Machine Learning and Data Science Zero to Mastery\6. Pandas Data Analysis\car-sales.csv")

In [14]:
dataframe.to_csv("maked.csv")

In [16]:
data.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [17]:
data.describe

<bound method NDFrame.describe of      Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00>

In [18]:
data.info

<bound method DataFrame.info of      Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00>

In [34]:
mean = s1.mean()
mean

3.0

In [35]:
sum = s1.sum()
sum

15

In [37]:
data.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

ValueError: No axis named 3 for object type <class 'pandas.core.frame.DataFrame'>