In [1]:
import pandas  as pd

In [2]:
series=pd.Series(["Rehan","Lara","husbad"])
series

0     Rehan
1      Lara
2    husbad
dtype: object

In [3]:
series1=pd.Series(["Yasin","berciya","wife"])
series1

0      Yasin
1    berciya
2       wife
dtype: object

In [4]:
love=pd.DataFrame({"My perspective":series,"Her perspective":series1})
love

  My perspective Her perspective
0          Rehan           Yasin
1           Lara         berciya
2         husbad            wife

In [5]:
love.to_csv("love.csv",index=False)

In [6]:
data=pd.read_csv("love.csv")
data

  My perspective Her perspective
0          Rehan           Yasin
1           Lara         berciya
2         husbad            wife

# Revision

In [7]:
import pandas as py
import numpy as np
import matplotlib.pyplot as plt
import cv2
%matplotlib inline

In [9]:
Ser1 = pd.Series([1,2,3])
ser2 = pd.Series([4,3,1])

In [11]:
dataframe = pd.DataFrame({"Yasin":Ser1,"MD":ser2})
dataframe

   Yasin  MD
0      1   4
1      2   3
2      3   1

In [13]:
dataframe.describe()

       Yasin        MD
count    3.0  3.000000
mean     2.0  2.666667
std      1.0  1.527525
min      1.0  1.000000
25%      1.5  2.000000
50%      2.0  3.000000
75%      2.5  3.500000
max      3.0  4.000000